footer
  div(class="container")
    div(class="row")
      div(class="col")
        //- p footer

  // scripts
  script(src="scripts/prep.js")

  script(src="scripts/jquery.js")
  script(src="scripts/bootstrap.js")
  script(src="scripts/popper.js")

  //- script(src="scripts/request.js")
  //- script(src="scripts/getRepos.js")
  //- script(src="scripts/basic-ajax.js")
  script(src="scripts/authors.js")
  script(src="scripts/learning.js")
  script(src="scripts/arrows.js")