footer
  div(class="container")
    div(class="row")
      div(class="col")
        //- p footer

  // scripts

  script(src="scripts/jquery.js")
  //- script(src="scripts/popper.js")
  script(src="scripts/bootstrap.js")
  script(src="scripts/moment.js")

  script(src="scripts/person.js" type="module")
  script(src="scripts/my-modules.js" type="module")
  script(src="scripts/items.js" type="module")
  script(src="scripts/main.js" type="module")