- var listResearch = {'Articles':'article.html', 'Books & Media':'books.html', 'Databases':'databases.html', 'Consultations':'consult.html'}
- var listGuides = ['Student Guide|student.html', 'Faculty Guide|faculty.html', 'First Year Students|first.html', 'Technology|technology.html']
- var listGuides2 = {'Student Guide':'student.html', 'Faculty Guide':'faculty.html', "Technology": "technology.html"}