extends layouts/default.pug

block content
  div(class="container")
    div(class="row mt-4")
      div(class="col")
        select(id="age-select" class="mb-4" name="age")
          option(value="0") Select a Minimum Age
          option(value="20") 20
          option(value="25") 25
          option(value="30") 30
          option(value="35") 35
          option(value="40") 40
          option(value="45") 45
          option(value="50") 50
          option(value="55") 55
          option(value="60") 60
        div(id="authors-list")