extends layouts/default.pug

block content
  div(class="container")
    div(class="row")
      div(class="col")
        h1 Learning Bootstrap 4

        ul
          li
            a(href="basic-styles.html") Basic Styles
          li
            a(href="layout.html") Layout
