extends layouts/default.pug

block content
  div(class="container")
    div(class="row mt-4")
      div(class="col")
        h4 API

        p The list of URLs that GitHub provides on https://developer.github.com/v3 acts as the public methods into their system. The developers that created the API control which resources they want to share and who has access to them. In the end it's all just the same data available on GitHub.com. The big difference is that the GitHub API forgoes the HTML/CSS/JavaScript that makes up GitHub.com and serves up pure data, which is the only thing our applications need.

        //- form(onsubmit="postComment(); return false;")
        //-   div(class="form-group")
        //-     input(id="myComment" type="text" class="form-control")
        //-   input(type="submit" value="Post Comment" class="btn btn-secondary mt-3")