extends layouts/default.pug

block content
  div(class="container")
    div(class="row mt-4")
      div(class="col")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ex, aliquid reiciendis maxime voluptas vel.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus incidunt soluta labore nesciunt voluptatem commodi, repudiandae animi necessitatibus a debitis.