extends layouts/default.pug

block content
  div(class="container")
    div(class="row mt-4")
      div(class="col")
        h5 Learning

    div(class="row")
      div(class="col")
        hr

    div(class="row")
      div(class="col")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut unde suscipit totam, tempore quas tenetur animi, est nam libero nemo, veritatis nihil mollitia autem deleniti dicta sed assumenda nostrum.
        h5(id="section-title") Section Title Text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, neque nemo! Quae!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil deleniti suscipit soluta rerum libero ipsum sapiente labore possimus nulla iusto.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illum omnis cumque consectetur neque excepturi magnam iusto repellat, non aliquid optio, illo facere! Nam placeat perspiciatis deleniti? Dolor ducimus dignissimos quis doloribus?
        h5(id="section-subtitle") Next Section Title
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo cumque dignissimos aliquam nisi adipisci velit possimus voluptates voluptatum vitae omnis?
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores vero debitis quidem animi cupiditate quas sit rerum molestias adipisci aperiam! Alias exercitationem eos temporibus incidunt vel voluptas eaque id voluptatem iste, harum nam!