extends layouts/default.pug

block content
  div(class="container")
    div(class="row mt-4")
      div(class="col")
        h5 Learning

    div(class="row")
      div(class="col")
        hr

    div(class="row")
      div(class="col")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut unde suscipit totam, tempore quas tenetur animi, est nam libero nemo, veritatis nihil mollitia autem deleniti dicta sed assumenda nostrum.