extends layouts/default.pug

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-6")
        h1 Navigation (Navbar/Navs)

    div(class="row")
      div(class="col-md-3")

        div(class="list-group")
          a(href="#" class="list-group-item list-group-item-action active") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One
          a(href="#" class="list-group-item list-group-item-action") Item One

      div(class="col-md-9")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas earum, animi numquam corporis aut architecto praesentium quos fugit, consequuntur ad nesciunt optio tenetur enim tempora nisi quisquam alias unde autem. Autem nemo odio itaque obcaecati eius id quis, alias quam.

    div(class="row")
      div(class="col")
        hr

    div(class="row")
      div(class="col-md-3")        
        +list('Articles', listResearch)

    div(class="row")
      div(class="col")
        hr

    div(class="row")
      div(class="col-md-3")        
        +list('Student Guide', listGuides)