doctype html
html
  head
    title Bootstrap 4 - Learning
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      include ../data/links.pug
      include ../mixins/list.pug
      block content

    include ../includes/footer.pug