.tab-content {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;

  .tab-pane {
    padding: 1rem;
    min-height: 8rem;
  }
}

.nav-tabs {
  .nav-link {
    background-color: rgb(222, 239, 245);
    margin-right: 0.3rem;

    &.active {
      font-weight: bold;
    }
  }
}

.list-group-item-action {
  &.active {
    &:hover {
      background-color: #007bff;
    }
  }
  
  &:hover {
    background-color: rgb(222, 239, 245);
  }
}


